.tag {
  padding-top: 2px;
  padding-right: 7px;
  padding-left: 7px;
  padding-bottom: 5px;
  font-size: 13px;

  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;

}

.success {
  border-radius: 3px;
  border: 1px solid #00ff00;
  color: #63b65c;
  background-color: rgba(0, 255, 0, 0.1);
}


.information {
  border-radius: 3px;
  border: 1px solid #477fdf;
  color: #477fdf;
  background-color: rgba(71, 128, 223, 0.1);
}

.error {
  border-radius: 3px;
  border: 1px solid #ec4f44;
  color: #ec4f44;
  background-color: rgba(236, 78, 68, 0.1);
}

.warning {
  border-radius: 3px;
  border: 1px solid #f19545;
  color: #f19545;
  background-color: rgba(241, 149, 69, 0.1);
}

.neutral {
  border-radius: 3px;
  border: 1px solid rgba(49, 68, 85, 0.3);
  color: #314455;
  background-color: rgba(49, 68, 85, 0.1);
}

.default {
  border-radius: 3px;
  border: 1px solid rgba(43, 63, 81, 0.3);
  color: #2b3f51;
  background-color: rgba(43, 63, 81, 0);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 12px;
  margin-bottom: 5px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
