.input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 5px;
}

.input .label {
  font-size: 12px;
  display: block;
  color: #183247;
  margin: 3px 3px;
}

.input .required {
  position: relative;
  top: 3px;
  margin-left: 3px;
  font-size: 14px;
  color: #d72d30;
  font-weight: 700;
}

.input .stateText {
  font-size: 10px;
  margin-top: 3px;
  margin-left: 3px;
  color: rgb(82, 82, 82);
  position: inherit;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 0;
}

.input .input-box {
  box-sizing: border-box;
  height: 30px;
  width: 400px;
  border: 1px solid #DADFE3;
  border-radius: 2px;
  background-color: #FFFFFF;
  outline: none;
  padding: 5px;
}

.input .input-box:hover {
  box-sizing: border-box;
  height: 30px;
  width: 400px;
  border: 1px solid var(--elephant);
  border-radius: 2px;
  background-color: var(--athens);
}

.input .input-box:focus {
  box-sizing: border-box;
  height: 30px;
  width: 400px;
  border: 1px solid var(--jade);
  border-radius: 2px;
  background-color: #FFFFFF;
}
