.input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 5px;
}

.input .label {
  font-size: 12px;
  display: block;
  color: #183247;
  margin: 3px 3px;
}

.input .required {
  position: relative;
  top: 3px;
  margin-left: 3px;
  font-size: 14px;
  color: #d72d30;
  font-weight: 700;
}

.input .stateText {
  font-size: 10px;
  margin-top: 3px;
  margin-left: 3px;
  color: rgb(82, 82, 82);
  position: inherit;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 0;
}

.input .input-wrapper {
  position: relative;
  width: 400px;
}

.input .input-wrapper .actions {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.input .input-wrapper .actions .clear-button {
  display: block;
  padding: 8px;
  cursor: pointer;
}

.input .input-box {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #DADFE3;
  border-radius: 4px;
  background-color: #FFFFFF;
  outline: none;
  padding: 5px;
  transition: 0.25s;
}

.input .input-box:hover {
  border: 1px solid var(--elephant);
  background-color: var(--athens);
}

.input .input-box:focus {
  border: 1px solid var(--jade);
  background-color: #FFFFFF;
}

.input .input-box.warning-input,
.input .input-box.warning-input:focus,
.input .input-box.warning-input:hover {
  color: var(--sunrise);
  border: 1px solid var(--sunrise);
  border-radius: 2px;
  background-color: var(--sunrise-light);
}

.input .input-box.error-input,
.input .input-box.error-input:focus,
.input .input-box.error-input:hover {
  color: var(--persimmon);
  border: 1px solid var(--persimmon);
  border-radius: 2px;
  background-color: var(--persimmon-light);
}

.input .stateText.warning-input {
  color: var(--sunrise);
}

.input .stateText.error-input {
  color: var(--persimmon);
}
