:root {
  --jade: #02b875;
  --elephant: #183247;
  --raven: #6F7C87;
  --chateau: #ACB6BE;

  --zircon: #DADFE3;
  --porcelain: #EBEEF0;
  --smoke: #F3F5F7;
  --athens: #F9F9F9;

  --dodger: #448EE1;
  --persimmon: #FF5959;
  --celery: #A0D76A;
  --candlelight: #FFD012;

  --sunrise: #FFAD1E;
  --amethyst: #AF64CE;
  --rhino: #284255;
  --scotchmist: #FFFADE;

  --pearllusta: #FFFDF6;
  --mintcream: #F6FEFF;

  --persimmon-light: #FF59591F;
  --sunrise-light: #FFAD1E1F;

}